* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

#box {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 50px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
}

#box h3 {
    position: absolute;
    text-align: left;
    top: 30px;
    left: 35px;
    font-size: x-large;
}

#circle {
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    opacity: 0.5;
    border: 7px solid rgb(200, 200, 200);
}

#circle input:focus {
    outline: none;
}

#add-calories{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    text-align: center;
    line-height: 150px;
    border: none;
    font-size: x-large;
    color: black;
}

#calories-counter span,
#calories-counter p {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: larger;
    padding-left: 15px;
}

#calories-counter h4{
    border: none;
}

.navbar {
    background-color: #335ff1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    padding: 80px;
    text-align: center;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.navbar ul {
    text-align: center;
    margin-top: 7px;
}

#search-form {
    position: relative;
    align-items: center;
    height: 40px;
    top: -45px;
    background-color: #f0f0f0;
    border-radius: 20px;
    border: 0px;
    width: 70%;
    margin: auto;
}

#search-form button {
    color: rgb(103, 103, 103);
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 16px;
    outline: none;
}

.navbar ul button {
    position: relative;
    border: none;
    padding: 20px;
    margin-top: -20px;
    font-style: arial;
    background-color: #335ff1;
    color: #dddddd;
    cursor: pointer;
}

#calories-counter {
    position: fixed;
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1;
}

#calories-counter p {
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}

#container {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(78vh - 100px);
    z-index: 0;
}

#breakfast {
    position: relative;
    flex-grow: 0;
    display: table;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    height: 100px;
    left: 0;
    right: 0;
    top: 80px;
}

#breakfast td, #lunch td, #dinner td {
    position: relative;
    flex-direction: column;
    border: none;
}

#lunch {
    position: relative;
    flex-grow: 0;
    display: table;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    left: 0;
    right: 0;
    top: 100px;
}

#dinner {
    position: relative;
    flex-grow: 0;
    display: table;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    height: 100px;
    left: 0;
    right: 0;
    top: 120px;
}

#breakfastBtn,
#lunchBtn,
#dinnerBtn {
    margin-left: 10px;
    padding: 7px;
}

h4 {
    margin: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.242);
    padding-bottom: 15px;
    width: 98.5%;
}

#addFood {
    text-align: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: larger;
    color: blue;
    background-color: rgb(206, 206, 206);
    border-color: black;
}

#add-food-page {
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    width: 100%;
}

#form-input {
    width: 100%;
    margin: 10px 0px;
    font-family: arial;
}

#fitness-table {
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#total {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    font-family: arial;
}

#addNewFood-form {
    position: fixed;
    flex-direction: column;
    display: none;
    text-align: center;
    align-items: center;
    font-size: 28px;
    font-family: arial;
    width: 100%;
    left: 0;
    right: 0;
    top: 20px;
}

input[type="text"] {
    height: 25px;
    width: 300px;
}

h3 {
    padding-bottom: 10px;
}

#addNewFoodBtn {
    border-radius: 50%;
    background-color: rgb(206, 206, 206);
    width: 200px;
    height: 30px;
    margin-top: 10px;
    font-size: 19px;
}